.bg_shining {
  position: fixed !important;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
}

.leaf_left {
  object-position: top right;
}

.leaf_right {
  object-position: top left;
}

.fixed {
  position: fixed !important;
}
